[submodule "openzeppelin-contracts"]
	path = openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "sol-address-list"]
	path = sol-address-list
	url = git@github.com:bloq/sol-address-list
